html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}
html {
  background-image: url(resources/flowers.jpg);
  background-repeat:round;  
}
#start{background-image: url(resources/background23.png);
}
h1 {font-family:  Montserrat;
  font-size: 40px;
  font-style: italic;
 color: pink;
  text-align: center;
}

#logo{
   overflow: hidden;
   width: 120px;
   height: 100px;
   border-image-width: 
	}
body {
  width: 1100px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 3px solid grey;
  border-radius: 12px;
}
#pic {
  display: block;
  margin: 0 auto;
}
table {
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
border: 4px double lightblue;
}
th {
background: lightblue;
color: grey;
text-shadow: 0px 15px 5px rgba(0,0,0,0.1), 10px 20px 5px rgba(0,0,0,0.05),
-10px 20px 5px rgba(0,0,0,0.05);
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: lightblue;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
td {
padding: 10px 20px;
background: white;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}
select {
display: inline-block;
height: 30px;
width: 150px;
outline: none;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 1px 1px 2px #999;
background: white;}
button {
background-color: lightblue;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 12px
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#button{background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#t1{font-family: Merriweather;
	font-style: italic;
	font-size: 30px;
	color: lightblue;
  text-align: center;}
 #t2{font-family: Merriweather;
	font-style: italic;
	font-size: 30px;
	color: lightblue;
  text-align: center;}
#t3{font-family: Merriweather;
	font-style: italic;
	font-size: 30px;
	color: lightblue;
  text-align: center;}
 #t4{font-family: Merriweather;
	font-style: italic;
	font-size: 30px;
	color: lightblue;
  text-align: center;}

  .vertical-menu {
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: white;
    overflow-x: hidden;
    padding: 11px 0;
    border: 1px solid grey;
    border-radius: 12px;}
.vertical-menu a {padding: 6px 8px 6px 16px;
	font-family: Merriweather;
    text-decoration: underline;
    font-size: 16px;
    color: black;
    display: block; 
    }
.vertical-menu a:hover {
    background-color: pink; 
}
.vertical-menu h3.active {
	font-family: Merriweather;
    font-size: 25px; 
    color: pink;
    text-align: center;
}
.border {
list-style: none;
padding: 0;
}
.border li {
padding: 7px 20px;
margin-bottom: 10px;
border-radius: 5px;
border-left: 10px solid lightblue; 
box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
           -2px -2px 5px 0 rgba(0,0,0,.1),
            2px 2px 5px 0 rgba(0,0,0,.1),
            -2px 2px 5px 0 rgba(0,0,0,.1);
font-size: 15px;
}
.border li:nth-child(2){border-color: lightblue;}
.border li:nth-child(3){border-color: lightblue;}
.border li:nth-child(4){border-color: lightblue;}
.border li:nth-child(5){border-color: lightblue;}
.border li:hover {border-left: : 10px solid transparent;}
.border li:nth-child(1):hover {border-left: 10px solid pink;}
.border li:nth-child(2):hover {border-left: 10px solid pink;}
.border li:nth-child(3):hover {border-left: 10px solid pink;}
.border li:nth-child(4):hover {border-left: 10px solid pink;}
.border li:nth-child(5):hover {border-left: 10px solid pink;}
.push {
  list-style: none;
}
.push li {
  position: relative;
  padding: 20px 0 20px 40px;
  color: grey;
  cursor: pointer;
}
.push li:before {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: lightblue;
  content: "";
  left: 0;
  transition: .3s ease-in-out;
  top: 27px;
}
.push li:after {
  position: absolute;
  border-left: 1px dotted pink;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}
.push li:hover:before{box-shadow: 0 0 0 10px rgba(255 129 129 / 10%);}
.push li:hover:before{background-color: pink;}
.push li:last-child:after {content: none;}

